body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(214, 214, 214);
}

header{
    background-color: #666666;
    color: white;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
}

header .logo h1{
    margin: 0px;
    padding-left: 20px;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding-right: 20px;
}

nav ul li{
    display: inline;
    margin-right: 25px;
}

section{
    padding: 35px;
    margin: 10px;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: 1px 3px 5px black;
}