body{
    background-color: rgb(79, 255, 179);
}
header{
    background-color: rgb(120, 255, 255);
}
main{
    background-color: rgb(120, 255, 255);
}
section{
    background-color: rgb(255, 147, 147);
}
footer{
    background-color: rgb(246, 252, 129);
}