body{
    background-color: #00cbcc;
    
}
#filap{
    text-align: justify;
    background-color: #ffff00;
}
.filas{
    text-align: justify;
    background-color: #0ff;
}
.horas{
    text-align: center;
    background-color: #ffff6f;
}