body{
    background-color: aqua;
}
/* }
h1{
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
    font-size: 10px;
} */

.parrafo1{
    color: brown;
    background-color: blueviolet;
    font-size: 3em;
}
/* id declaracion */

#parrafo2{
    text-align: justify;
    background-color: cadetblue;
}
